.leftShow{
    position: relative;
    left:30px;
    .Hi{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:red;
        font-size: 7rem;
    }
    .firstname {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:green;
        font-size: 4rem;   
    }

    blockquote{
        font-family: cursive;
        font-size: 3rem;
        text-align: center;
    }
}