.warningBox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
    .warningImageContainer{
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        .warningImage{
            // border: 2px solid red;
            // text-align: ;
            display: block;
            height: 80x;
            width: 80px;
            object-fit: cover;
        }
    }
    .warningMessage{
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
        // border: 2px solid red;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(244, 105, 24);
        
        .title{
            text-decoration: underline;
        }

        .desc{
            color : black;
        }
    }
}